html{
  box-sizing: border-box;
}

*,
*::after,
**::before {
  box-sizing: inherit;
}

ul,
ol{
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
text-decoration: none;
color: inherit;
}

*{
  font-family: 'Roboto Mono', monospace;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #f2fdff;
}

.app{
  position: relative;
}

.bg{
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  background: url('../img/bg-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  filter: brightness(60%);
  z-index: 1;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 1200px;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 10;
}

.header{
  min-width: 100%;
  height: 500px;
  background: #dfe6e957;
  border-radius: 3px;
  z-index: 10;
}

.app-title{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
  color: #8eeeee;
}

.weather{
  width: 95%;
  height: 350px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-info{
  position: relative;
  width: 25%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 1px rgba(96, 96, 96, 0.6);
}

.location-info__img{
  height: 120px;
  width: 120px;
}

.location-info__city{
  font-size: 30px;
  width: 200px;
  text-align: left;
  margin-left: 20px;
}

.location-info__country{
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  text-align: left;
  margin-left: 20px;
}

.location-info__temperature{
  font-size: 35px;
  font-weight: 500;
  width: 200px;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.location-info__btn{
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  border: none;
  background: #8eeeeeda;
  transition: .4s ease;
}
.location-info__btn:hover{
  transform: translate(-50%) scale(1.04);
}
.location-info__btn:active{
  transform: translate(-50%) scale(0.94);
}

.location-info__btn > span {
  margin-left: 10px;
}

.weather-info{
  width: 25%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 1px rgba(96, 96, 96, 0.6);
}

.weather-info__list{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weather-info__list-item {
  display: flex;
}
.weather-item__img {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}
.weather-item__text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.weather-item__desc {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.footer{
  min-width: 100%;
  height: 300px;
  background: #dfe6e957;
  border-radius: 3px;
  z-index: 10;
}

.weather-hours{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  height: 100%;
  padding: 0 5px;
}

.weather-hour{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 13%;
  height: 85%;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 2px 2px 1px rgba(77, 77, 77, 0.692);
}

.weather-hour__hour-value{
  font-size: 25px;
  font-weight: 400;
}

.weather-hour__temperature{
  font-weight: 500;
  font-size: 30px;
}

.weather-hour__temperature-feels{
  font-size: 14px;
}

._bg-hide{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

._bg-hide--active{
  display: block;
  background: rgba(104, 107, 110, 0.478);
  z-index: 50;
}

.modal{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-400%);
  height: 290px;
  width: 450px;
  border-radius: 3px;
  padding: 10px;
  color: #444b4b;
  background-color: #dcdee1d0;
  z-index: 60;
  transition: .5s ease;
}

.modal--active{
  transform: translateX(-50%);
}

.modal-title{
  text-align: center;
}

.modal-city__list{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-city__list-item{
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  padding: 2px;
  box-shadow: 0px 2px 2px 1px rgba(77, 77, 77, 0.692);
  height: 25px;
  cursor: pointer;
  transition: .3s;
}

.modal-city__list-item:hover{
  background-color: #ffffffd8;
  font-weight: 500;
  transform: scale(1.04);
}

.close-modal__btn{
  position: absolute;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  border: none;
  background: #8eeeee;
  transition: .5s;
}
.close-modal__btn:hover{
  transform: scale(1.04);
}